﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    
    <form method="POST">
        <label>Name</label>
        <input asp-for="Product.Name"/>
        <label>Description</label>
        <input asp-for="Product.Description"/>
        <label>Price</label>
        <input asp-for="Product.Price"/>
        <input type="submit" value= "Save Product"/>
    </form>
</div>

<div>
    @{
        foreach (var item in Model.Products) { 
            <p>
                @item.Name - @item.Description - @item.Price 
            </p>
        }
    }
</div>
